fastapi
uvicorn
python-dotenv
python-multipart
sqlalchemy
jinja2
itsdangerous
pdfplumber
pandas
openpyxl
requests
openai
tabulate
reportlab
numpy
paddleocr
paddlepaddle
pdf2image
ollama
sse-starlette
pytesseract
psycopg2-binary
